.hero {
    height: 85vh;
    background-image:
      linear-gradient(
        to right,
        rgba(0,0,0,0.95),
        rgba(0,0,0,0.45)
      ),
      url("https://images.unsplash.com/photo-1489599849927-2ee91cede3ba");
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    padding: 70px;
  }
  
  .hero-overlay {
    max-width: 650px;
  }
  
  .hero h2 {
    font-size: 64px;
    margin-bottom: 20px;
    line-height: 1.1;
  }
  
  .hero p {
    color: #b3b3b3;
    font-size: 20px;
    margin-bottom: 30px;
  }
  
  .hero-buttons {
    display: flex;
    gap: 20px;
  }
  .primary-btn,
.secondary-btn {
  padding: 14px 26px;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  font-weight: 600;
  transition: 0.3s;
}

.primary-btn {
  background: #e50914;
  color: white;
}

.secondary-btn {
  background: rgba(255,255,255,0.15);
  color: white;
}

.primary-btn:hover,
.secondary-btn:hover {
  transform: translateY(-4px);
}
.genre-bar {
    display: flex;
    gap: 12px;
    flex-wrap: wrap;
    justify-content: center;
    margin: 25px 0;
    padding: 10px;
  }
  
  /* base button */
  .genre-bar button {
    padding: 8px 16px;
    border-radius: 25px;
  
    border: 1px solid rgba(255, 255, 255, 0.15);
    background: rgba(255, 255, 255, 0.06);
  
    color: white;
    font-size: 14px;
    cursor: pointer;
  
    transition: all 0.3s ease;
    backdrop-filter: blur(8px);
  }
  
  /* hover effect */
  .genre-bar button:hover {
    background: rgba(229, 9, 20, 0.2);
    border-color: #e50914;
    transform: translateY(-2px);
    box-shadow: 0 5px 15px rgba(229, 9, 20, 0.25);
  }
  
  /* active / selected style */
  .genre-bar button.active {
    background: #e50914;
    border-color: #e50914;
    box-shadow: 0 6px 18px rgba(229, 9, 20, 0.4);
    transform: scale(1.05);
  }