.see-more-btn {
  display: block;
  margin: 30px auto;
  padding: 15px 30px;
  background: #e50914;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  transition: 0.3s;
}

.see-more-btn:hover {
  background: #b20710;
  transform: scale(1.05);
}