.watchlist-page {
  min-height: 100vh;
  background: #0d0d0d;
  color: white;
  padding: 50px 70px;
}

/* Header */

.watchlist-header {
  margin-bottom: 45px;
}

.watchlist-heading {
  font-size: 42px;
  color: #e50914;
  margin-bottom: 8px;
}

.watchlist-header p {
  color: #9f9f9f;
  font-size: 18px;
}

/* Empty */

.empty-state {
  height: 60vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #999;
}

.empty-state h2 {
  color: white;
  font-size: 34px;
  margin-bottom: 12px;
}

/* Grid */

.watchlist-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
  gap: 35px;
}

/* Card */

.movie-card {
  width: 230px;
  transition: .35s;
}

.movie-card:hover {
  transform: translateY(-10px);
}

/* Poster */

.poster-container {
  position: relative;
  overflow: hidden;
  border-radius: 16px;
}

.poster-container img {
  width: 100%;
  height: 340px;
  object-fit: cover;
  display: block;
  transition: .35s;
}

.movie-card:hover img {
  transform: scale(1.06);
}

/* Rating */

.rating-badge {
  position: absolute;
  top: 12px;
  right: 12px;

  background: rgba(0,0,0,.85);
  color: gold;

  padding: 7px 10px;

  border-radius: 25px;

  font-size: 14px;
  font-weight: bold;
}

/* Overlay */

.movie-overlay {
  position: absolute;

  inset: 0;

  background: rgba(0,0,0,.65);

  display: flex;

  justify-content: center;
  align-items: center;

  opacity: 0;

  transition: .35s;
}

.movie-card:hover .movie-overlay {
  opacity: 1;
}

/* Info */

.movie-info {
  padding-top: 14px;
}

.movie-info h3 {
  font-size: 17px;
  margin-bottom: 8px;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.movie-info span {
  color: #b0b0b0;
  font-size: 14px;
}

/* Button */

.remove-btn {
  background: #e50914;
  color: white;

  border: none;

  padding: 12px 22px;

  border-radius: 30px;

  font-weight: bold;

  cursor: pointer;

  transition: .3s;
}

.remove-btn:hover {
  background: #b20710;
  transform: scale(1.05);
}

/* Responsive */

@media (max-width:768px){

.watchlist-page{

padding:30px;

}

.watchlist-grid{

justify-items:center;

}

.movie-card{

width:100%;

max-width:250px;

}

.watchlist-heading{

font-size:34px;

}

}