.movie-container {
    display: flex;
    gap: 25px;
    padding: 20px 0;
  }
  
  .movie-card {
    width: 180px;
    height: 260px;
    border-radius: 14px;
    background: #1a1a1a;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.35s;
  }
  
  .movie-card:hover {
    transform: scale(1.07);
  }